.formulario {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 50px;
    margin-bottom: 10px;
}



.cadastrar {
    font-size: 14px;
    padding: 12px 24px;
    color: #ffffff;
    background-color: blue;
    cursor: pointer;
    border-radius: 10px;
    border: none;
}